html, body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    margin: 0 auto;
}

.App {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    width: 100%;
}

.App-content {
    height: 100%;
    width: 80%;
}