<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg"
        href="https://res.cloudinary.com/dfuxr1p10/image/upload/v1642360776/MyTasks/tasks_rxewg9.png" crossorigin="" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://kit.fontawesome.com/dbfc7aa0af.js" crossorigin=""></script>
    <title>Home - MyTasks</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a id="logo-link" href="/">
                <div class="navbar-logo">
                    <img crossorigin=""
                        src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1642360776/MyTasks/tasks_rxewg9.png"
                        alt="MyTasks Logo" />
                    <h1>MyTasks</h1>
                </div>
            </a>
            <div class="nav-links nav-link-toggle">
                <i class="fas fa-bars fa-3x"></i>
            </div>
            <nav class="nav-items">
                <div class="nav-link">
                    <a href="#features">Features</a>
                </div>
                <div class="nav-link">
                    <a href="#about">About</a>
                </div>
                <div class="nav-link">
                    <a href="/login">Login</a>
                </div>
                <div class="nav-link" id="nav-button">
                    <a href="/register">Sign Up For Free</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="intro">
            <div class="intro-text">
                <h2>Manage Your <span>Tasks</span> Efficiently</h2>
                <p>A simple and free application to help you stay on top of your duties. Never lose track of your
                    responsibilities again!
                </p>
                <div class="intro-buttons">
                    <a class="button" href="/register">Get Started</a>
                    <a class="button" id="info-button" href="#features">Learn More</a>
                </div>
            </div>
            <img class="intro-image" crossorigin=""
                src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1643765578/MyTasks/mytasks-intro-image_fw8kho.png">
        </section>
        <a name="features"></a>
        <section class="features">
            <h2 class="features-title">Features</h2>
            <div class="features-container">
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h3>User Friendly</h4>
                        <p>Simple to use and understand.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <h3>Stay Organized</h4>
                        <p>Tasks can be sorted and filtered by status and category.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-mobile"></i>
                    </div>
                    <h3>Flexible</h4>
                        <p>Accessible on mobile and desktop platforms.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <h3>100% Free</h4>
                        <p>The application is 100% free to use.</p>
                </div>
            </div>
        </section>
        <a name="about"></a>
        <section class="about">
            <h2 class="about-title">About</h2>
            <div class="about-container">
                <img class="about-image" crossorigin=""
                    src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1644027807/MyTasks/my-tasks-about_izvryz.png"
                    alt="">
                <div class="about-text">
                    <p>Making mental notes of all your commitments can get overwhelming. MyTasks is designed to be
                        an area for you to keep track of all the work you need to get done, whether it is personal,
                        work-related, etc.</p>
                    <p>In addition to categorization, this application also gives you the option
                        mark the status (To Do, In Progress, and Done) of your stored tasks.</p>
                    <p>If you need help with managing your tasks, then <strong><a class="about-link"
                                href="/register">sign up here</a></strong>
                        and give our tool a shot.</p>
                    <br>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-info">
            <p>Designed and developed by Mussie Fitsum</p>
            <p>&#169 2022 MyTasks</p>
        </div>
    </footer>
    <script src="/javascripts/navbar.js"></script>
</body>

</html>