<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://kit.fontawesome.com/dbfc7aa0af.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <img src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1642360776/MyTasks/tasks_rxewg9.png"
                    alt="" />
                <h1>MyTasks</h1>
            </div>
            <div class="nav-items">
                <div class="nav-link">
                    <a>Features</a>
                </div>
                <div class="nav-link">
                    <a>About</a>
                </div>
                <div class="nav-link">
                    <a href="/login">Login</a>
                </div>
                <div class="nav-link" id="nav-button">
                    <a href="/register">Sign Up For Free</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="intro">
            <div class="intro-text">
                <h2>Manage Your <span>Tasks</span> Efficiently</h2>
                <p>A simple and free application to help you stay on top of your duties. Never lose track of your
                    responsibilities again!
                </p>
                <div class="intro-buttons">
                    <a href="/register">Get Started</a>
                    <a id="info-button">Learn More</a>
                </div>
            </div>
            <img class="intro-image"
                src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1643765578/MyTasks/mytasks-intro-image_fw8kho.png">
        </section>
        <section class="features">
            <h2>Features</h2>
            <div class="features-container">
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h3>User Friendly</h4>
                        <p>Simple to use and doesn't require any training or extensive
                            documentation.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <h3>Stay Organized</h4>
                        <p>Tasks can be sorted and filtered by status and category.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-mobile"></i>
                    </div>
                    <h3>Flexible</h4>
                        <p>Accessible on mobile and desktop platforms.</p>
                </div>
                <div class="features-card">
                    <div class="features-icon">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <h3>100% Free</h4>
                        <p>The application is 100% free to use.</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>