html, body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%);
    margin-bottom: 40px;
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px 60px;
    flex-wrap: wrap;
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo h1 {
    font-size: 30px;
}

.navbar-logo img {
    width: 33px;
    height: 33px;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
}

.nav-link {
    margin-right: 50px;
}

.nav-link a {
    font-weight: 600;
    color: black;
}

.nav-link a:hover {
    color: #2445ed;
}

.nav-link-toggle {
    display: none;
}

#logo-link {
    color: black;
}

#nav-button a {
    background-color: #2445ed;
    padding: 13px 17px;
    color: white;
    border-radius: .2rem;
    font-size: 15px;
    border: none;
    margin-left: 10px;
}

#nav-button a:hover {
    background-color: #3c5bef;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 680px;
    padding: 50px 0px;
}

.intro-text {
    overflow: wrap;
    width: 40%;
    margin-right: 80px;
}

.intro-text h2 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 5px;
}

.intro-text span {
    text-decoration: underline;
    font-weight: 700;
}

.intro-text p, .about-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 45px;
}

.intro-image {
    width: 36%;
    height: auto;
}

.intro-buttons {
    width: 100%;
}

.intro-buttons a {
    background-color: #2445ed;
    padding: 20px 35px;
    height: 20px;
    color: white;
    border-radius: .2rem;
    font-weight: 600;
    font-size: 18px;
}

.intro-buttons a:hover {
    background-color: #3c5bef;
}

#info-button {
    background-color: black;
    margin-left: 30px;
}

#info-button:hover {
    background-color: #313131;
}

.features {
    background-color: #F7FAFF;
    text-align: center;
    padding: 60px 0px;
    width: 100vw;
}

.features-title, .about-title {
    font-size: 38px;
}

.features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 88%;
    margin: 0 auto;
}

.features-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 14px;
    width: 200px;
    padding: 30px 30px;
    box-shadow: 0 0px 8px 0 #dfe6f1;
    margin-bottom: 20px;
}

.features-card:last-of-type {
    margin-right: 0px;
}

.features-card h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.features-card p {
    font-weight: 400;
    width: 100%;
    padding: 0px 10px;
}

.features-icon {
    color: #2445ed;
    font-size: 30px;
    padding: 10px 5px;
    background-color: #E9EEF8;
    width: 70px;
    border-radius: 18px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.about-image {
    width: 450px;
    margin-right: 30px;
    align-self: flex-start;
}

.about-container {
    display: flex;
    justify-content: center;
    width: 85vw;
}

.about-title {
    margin-bottom: 20px;
}

.about-text {
    text-align: left;
    width: 70%;
    align-self: center;
}

footer {
    background-color: #041941;
    margin-top: auto;
    padding-top: 10px;
}

.footer-info {
    text-align: center;
    color: white;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .intro-text {
        width: 50%;
        margin-right: 50px;
    }

    .features-card {
        width: 130px;
    }

    .features-card h3 {
        font-size: 20px;
    }

    .features-card p {
        font-size: 14px;
    }

    .about-image {
        width: 350px;
    }
}

@media (max-width: 834px) {
    .nav-items {
        display: none;
        margin-left: 0;
        text-align: center;
    }
    .nav-link {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .navbar, .nav-items {
        flex-direction: column;
        left: 0;
    }
    .nav-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        right: 8%;
        margin-top: 10px;
    }
    .nav-background {
        background-color: white;
     }
     .nav-link-toggle-show {
        display: flex;
        background-color: white;
        width: 100%;
     }

     #logo-link {
        align-self: flex-start;
     }

     #nav-button {
         margin-top: 10px;
     }
}

@media (max-width: 770px) {
    .intro {
        margin-top: 40px;
        flex-wrap: wrap-reverse;
    }

    .intro-text {
        width: 80%;
        margin-right: 0;
    }

    .intro-text h2 {
        font-size: 45px;
    }

    .intro-image {
        width: 350px;
    }

    .features-container {
        flex-wrap: wrap;
    }

    .about {
        padding-bottom: 0;
    }

    .about-container {
        flex-wrap: wrap;
    }

    .about-text {
        width: 90%;
    }
}

@media (max-width: 475px) {
    .intro-text h2 {
        font-size: 30px;
    }

    .intro-text p, .about-text {
        font-size: 16px;
    }

    .intro-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .intro-image {
        width: 280px;
    }

    .about-image {
        width: 250px;
    }

    .intro-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 20px;
    }

    #info-button {
        margin-left: 0;
        margin-top: 15px;
    }

    .features-title, .about-title {
        font-size: 27px;
    }

    .nav-link-toggle {
        margin-top: 10px;
        font-size: 13px;
    }

    .navbar-logo h1 {
        font-size: 23px;
    }

    .navbar {
        padding: 5px 20px;
    }

    .features-container {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .features-card {
        width: 60%;
    }

    .footer-info {
        font-size: 13px;
    }
}