.Cards {
    padding: 30px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 25%);
    background-color: white;
    border-radius: .4rem;
    width: 190px;
    margin-bottom: 20px;
}

.Cards-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fa-ellipsis-v {
    font-size: 19px;
    cursor: pointer;
    color: #6c757d;
}

.Cards-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 25%);
    padding: 0px 12px;
    padding-top: 20px;
    margin-left: 130px;
    font-weight: 600;
}

.Cards-dropdown strong {
    color: #6c757d;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 10px;
}

.Cards-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Cards-dropdown-item {
    width: 100%;
    padding: 6px 12px;
}

#dropdown-delete:hover {
    background-color: red;
}

.Cards-dropdown-item:hover {
    background-color: #2446ed;
    color: white;
    cursor: pointer;
}

.Cards-status {
    font-size: 13.3px;
    font-weight: 600;
}

.Cards-task {
    font-size: 24px;
    margin-bottom: -10px;
    font-weight: 700
}

.Cards-category {
    font-weight: 600;
}

.Cards-description {
    font-size: 16px;
}