textarea:focus::placeholder {
    color: transparent;
}

textarea, input {
    font-family: 'Sora', sans-serif;
}

.Form {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.Form-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 25%);
    border-radius: .375rem;
}

.Form-content h3 {
    text-align: center;
    font-size: 30px;
}

.Form-cancel {
    font-size: 20px;
    align-self: flex-start;
    cursor: pointer;
}

.Form-taskform {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.Form-group {
    width: 100%;
    margin-bottom: 20px;
}

.Form-input {
    height: 30px;
    width: 97%;
    font-size: 15px;
}

.Form-description-area {
    background-color: white;
    border: .5px solid black;
    padding: 3px;
}

.Form-character-count {
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
    opacity: .8;
}

.red {
    color: red;
}

.Form-description {
    width: 95%;
    height: 140px;
    font-size: 15px;
    resize: none;
    border: none;
}

.Form-select {
    width: 98%;
    height: 30px;
    font-size: 15px;
}

.Form-button {
    border-radius: .2rem;
    color: white;
    background-color: #2446ed;
    padding: 10px 0px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.Form-button:hover {
    background-color: #3c5bef;
}

@media (max-width: 836px) {
    .Form-content {
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 570px) {
    .Form-content h3 {
        font-size: 20px;
    }
    .Form-content {
        width: 80%;
        left: 5%;
        margin-top: -30px;
    }
}

@media (max-width: 376px) {
    .Form-content {
        width: 85%;
        left: 1%;
    }
}