input:focus, textarea:focus, select:focus{
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}


.Navbar {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%);
}

.Navbar-toggle {
    display: none;
}

.Navbar-search {
    background-color: #F5F5F5;
    border: none;
    width: 350px;
    height: 30px;
    font-size: 15px;
}

.Navbar-input {
    background-color: #F5F5F5;
    padding: 5px 10px;
}

.Navbar-input i {
    margin-right: 10px;
    color: #b9c6d0
}

.Navbar-logout {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.Navbar-logout:hover {
    color: #3c5bef;
}

@media (max-width: 836px) {
    .Navbar-search {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .Navbar-toggle {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

}