input:focus, textarea:focus, select:focus{
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}


.Navbar {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 20px 0px;
}

.Navbar-search {
    background-color: #F5F5F5;
    border: none;
    width: 350px;
    height: 30px;
    font-size: 15px;
}

.Navbar-input {
    background-color: #F5F5F5;
    padding: 5px 10px;
}

.Navbar-input i {
    margin-right: 10px;
    color: #b9c6d0
}