.Sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%);
    width: 20%;
}

.Sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sidebar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Sidebar-brand img {
    width: 30px;
    height: auto;
}

.Sidebar-dropdown {
    display: none;
}

.Sidebar-dropdown-items {
    cursor: pointer;
    margin: 18px 18px;
    color: #6c757d;
    font-weight: 600;
    font-size: 16.5px;
}

.Sidebar-items-active {
    color: #2445ed;
}

h4 {
    font-size: 21px;
}

.Sidebar-items {
    width: 80%;
    margin-bottom: 40px;
}

.Sidebar-status {
    font-size: 12px;
    background-color: #dde7fc;
    color: #2445ed;
    font-weight: 700;
    padding: 2px 16px;
    border-radius: 13px;
    margin-left: 10px;
}

.Sidebar-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fa-angle-up {
    color: #2446ed;
    font-size: 21px;
}

.fa-angle-down {
    color: #6c757d;
    font-size: 21px;
}

.Sidebar-icons {
    margin-right: 15px;
    color: #b9c6d0;
    font-size: 27px;
    font-weight: 700;
}

.icon-active {
    color: #2446ed;
}

.items-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.dropdown-active {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

@media (max-width: 1140px) {
    .Sidebar {
        width: 25%;
    }

    h4 {
        font-size: 18px;
    }
    .Sidebar-dropdown-items {
        font-size: 14px;
    }
}

@media (max-width: 836px) {
    h1 {
        font-size: 24px;
    }
    h4 {
        font-size: 15px;
    }
    .Sidebar-icons {
        font-size: 18px;
    }

    .Sidebar-dropdown-items {
        font-size: 12px;
        width: 100%;
    }
    .Sidebar-status {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .Sidebar {
        display: none;
    }

    .Sidebar-show {
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        width: 35%;
    }
}